body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #0d21a1;
    padding: 10px;
    border: 2px solid black;
    width:600px;
    margin:0 auto;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

 .nav-bar a {
    padding: 10px 20px;
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
   
   
}

 .nav-bar a:hover {
    background-color:rgb(80, 215, 80);
    text-decoration: underline;
   
}

.title {
    text-align: center;
    margin-top: 20px;
    color:rgb(11, 11, 122);
}